{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <body style="background-color: darkgray">
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
        <h3>My Orders</h3>
            <hr>
        </div>
        <br>
        {% if orders %}
        {% for order in orders %}
            <strong>Order Id {{ order.id }}</strong>
            <br>
            {{ order.product }}
            <br>
            Quantity {{ order.quantity }}
            price {{ order.price     }}
        {% endfor %}
            {% else %}
            No orders yet!
        {% endif %}
    </div>



{% endblock %}